.form-container {
  max-width: 500px;
  margin: 50px auto auto;
}

input, textarea {

    &.ng-invalid.ng-touched {
      border-color: red;

      &:focus {
        box-shadow: 0px 0px 0px 2px rgba(red, 0.1);
      }
    }
}
