<div #container class="note-card-container">

  <a [routerLink]="link">
    <div class="note-card-content">
      <h1 class="note-card-title">{{ title }}</h1>

      <div #bodyText class="note-card-body">
        <p> {{ body }}</p>

        <div #fader class="fade-out-text"></div>
      </div>
    </div>
  </a>

  <div class="x-button" (click)="onXButtonClick()"></div>
</div>
