// Changing bulma variables and adding global styles

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #936bc6;
$pink: #aa076b;
$blue: #37C7F2;
$light-red: #FFF3F3;
$light: #FAFCFF;
$green: #0bf387;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $purple;
$link: $blue;

// Update some of Bulma's component variables
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color: #F3f5fa;
$input-shadow: none;

// Global styles

html, body {
  height: 100%;

  // default font size to 18px
  font-size: 18px !important;
  overflow: hidden !important;
}
